body{
    background-color: white;
}
#burgerMenu{
    display: none;
}
header{
    max-width: 1280px;
    margin: auto;
}
header h2{
    padding: 10px;
}
nav{
    display: flex;
    height: 80px;
    justify-content: flex-end;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 4px;
    border-bottom: none;
}
nav ul li a{
    margin: 0 15px;
}
nav ul li a:hover{
    border-bottom: 3px solid #fff;
}
.articles{
    flex-wrap: nowrap;
}
@media only screen and (min-width: 680px) and (max-width:1280px){
    /* Add rules for tablets */
    header h2{
        color: red;
    }
}